/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: initial;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: var(--cor-fundo);
	margin: 20px 50px;
	text-align: justify;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
text-decoration: none;
color: initial;
cursor: initial;
}

.titulo-de-pagina {
    color: var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    }

.titulo-de-artigo {
	color: var(--cor-primaria);
	text: color var(--cor-primaria) ;
	line-height: 2;
	font-weight: bold;
	font-size: 18pt;
	}
	
.titulo-de-secao {
	color: #495168;
	line-height: 1.8;
	font-size: 18pt;
	font-weight:bold;
}

.subtitulo-de-artigo {
	color: #0f4571;
	line-height: 1.5;
	font-size: 14pt;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-bottom: 10px;
}

p {
 line-height: 1.2;
 color: #3f3f3f;
 font-family: Arial, Helvetica;

}

pre {
	color:  #3f3f3f
	font-family: Arial, Helvetica;
}

.paragrafo-de-artigo {
	background-color:  var(--cor-primaria);
	padding: 20px 20px 0 20px;

}

article {
	
	border: 8px solid var(--cor-quartenaria);
	padding: 30px;
	margin: 30px, 0;
	border-radius: 20px 20px 20px 20px;
}

/* img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE */
  

  :root {
	--cor-primaria: #454545;
	--cor-secundaria: #706a6a;
	--cor-terciaria: #FFA559;
	--cor-quartenaria: #FF6000;
	--cor-fundo: #FFE6C7;
  }

  
  html {

  }